.header {
  padding: 1rem;
  background-color: #fff;

  nav {
    display: flex;
    gap: 1rem;

    a {
      color: #000;
      text-decoration: none !important;

      &:hover {
        text-decoration: underline;
      }
    }

    .logo {
      height: 40px;
      width: auto;
      object-fit: contain;
    }
  }
}
